.form-container {
    max-width: 1200px;
    margin: 5rem auto;
}

.card {
    padding: 3rem;
    width: 60%;
    margin: 0 auto;
}

.card-title {
    font-size: 22px;
    color: #4444;
    text-transform: uppercase;
    font-weight: 100;
}

.form-group {
    display: block;
    width: 100%;
    padding-top: 1rem;
}

.description-area {
    min-height: 80px;
}
